<input (keyup)="changeImage($event)" [value]="demoImageUrl" />
<app-post
  [postImageUrl]="demoImageUrl"
  (imageSelected)="logSelectedImage($event)"
>
</app-post>

<ng-container>
  <app-content-projection>
    <p class="projection-2">
      Passing Data through content projection to placeholder with selector
      projection-2.
    </p>
    <p class="projection-1">
      Passing Data through content projection to placeholder with selector
      projection-1.
    </p>
    <p>
      Passing Data through content projection 1. <br />[Note: this will not be
      projected.]
    </p>
  </app-content-projection>
</ng-container>

<ng-container>
  <app-pipe></app-pipe>
</ng-container>

<ng-container>
  <app-directive></app-directive>
</ng-container>
